<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include navbar.html %}

    <main>
      {% include jumbotron.html %}

      <div class="container content">
          
        {{ content | replace: '<table', '<table class="table"' }}

      </div>
    </main>

    {% include footer.html %}

<!-- Netlify Identity Widget -->
    <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

  </body>
</html>
